<div class="jumbotron">
  <h1>The American Cid</h1>
  <p>
    <br>
    Asheville North Carolina
  </p>
 
</div>

<div class="row marketing">
  <h3>He Pulls On His Hood Too Hard</h3>
  <p><i>Elle Archer</i></p>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
